#logo{
    position:relative;
    width:460px;
    margin:0 auto;
    height:90px;
    text-align:left;
    /* border:1px dotted silver; */
}
#header{
    position:relative;
    width:460px;
    margin:0 auto;
    height:30px;
    text-align:right;
}

img{
    vertical-align:middle;
}

#id{
    position:relative;
    width:460px; height: 50px;
    border:1px solid gray;  
    line-height:50px;
    color:gray;
    font-size:120%;
    margin:0 auto;
    border-radius: 10px 10px 0 0;
}

    
#pw{
    position:relative;
    width:460px; height: 50px;
    border:1px solid gray;  
    line-height:50px;
    color:gray;
    font-size:120%;
    margin:0 auto;
}

#email{
    position:relative;
    width:460px; height:50px;
    line-height: 50px;
    color:gray;
    font-size:100%;
    border:1px solid gray;
    text-align:left;
    border-radius: 0 0 10px 10px ;
    margin:0 auto;
}

#name{
    position:relative;
    width:460px; height: 50px;
    border:1px solid gray;  
    line-height:50px;
    color:gray;
    font-size:120%;
    border-radius: 10px 10px 0 0;
    margin:0 auto;
}

#birth{
    position:relative;
    width:460px; height: 50px;
    border:1px solid gray;  
    line-height:50px;
    color:gray;
    font-size:120%;
    margin:0 auto;
}
#comu{
    position:relative;
    width:460px; height: 50px;
    border:1px solid gray;  
    line-height:50px;
    color:gray;
    font-size:120%;
    margin:0 auto;
}
#gender{
    position:relative;
    width:460px; height: 50px;
    border:1px solid gray;  
    line-height:50px;
    color:gray;
    font-size:120%;
    margin:0 auto;
}
#left{
    position:absolute;
    width:216px; height:33px;
    border:1px solid #999999;
    border-radius: 3px;     
    margin-left:8px; left:0px;
    top:8px;
}
#right{
    position:absolute;
    width:216px; height:33px;
    border:1px solid #999999;
    border-radius: 3px; top:5px;
    margin-right:8px; 
    right:0px;
    top:8px;
}

#left div, #right div{
    float:left; text-align:center;
    width:107px; height:33px;
    line-height:33px; font-size:80%;
}

#left div:first-child, #right div:first-child{
    border-right:1px solid #999999;
}


#male{
    position:relative;
    width:100px; height: 30px;
    border:1px solid gray;  
    line-height:30px;
    color:gray;
    font-size:90%;
    /* margin:0 auto; */
    float:left;
    text-align: center;
    box-sizing: border-box;
}
#female{
    position:relative;
    width:100px; height: 30px;
    border:1px solid gray;  
    line-height:30px;
    color:gray;
    font-size:90%;
    /* margin:0 auto; */
    float:left;
    box-sizing: border-box;
    text-align: center;
}
#phone{
    position:relative;
    width:460px; height: 50px;
    border:1px solid gray;  
    line-height:50px;
    color:gray;
    font-size:120%;
    border-radius: 0 0 10px 10px ;
    margin:0 auto;
}
#agree{
    position:relative;
    width:460px; height: 50px;
    border:1px solid gray;  
    line-height:50px;
    color:gray;
    font-size:100%;
    border-radius: 10px ;
    margin:10px auto;
}
#submit{
    position:relative;
    width:460px; height: 50px;
    line-height:50px;
    color:white;
    font-size:110%;
    margin:0 auto;
    text-align: center;
    background: #09AA5C;
    border-radius: 10px ;
}
.left{
    border-radius: 10px 0 0 10px;
}
.right{
    border-radius:  0 10px 10px 0;
}

#id input{
    font-size:90%;   
    outline:none; 
    border:none;
}   
#pw input{
    font-size:90%;
    outline:none; 
    border:none;
}
#email input{
    font-size:90%;
    outline:none; 
    border:none;
}
#name input{
    font-size:90%;   
    outline:none; 
    border:none;
} 
#birth input{
    font-size:90%;   
    outline:none; 
    border:none;
} 
#comu input{
    font-size:90%;   
    outline:none; 
    border:none;
} 
#phone input{
    font-size:90%;   
    outline:none; 
    border:none;
} 





















